<nav class="main-nav hidden-xs" style="z-index: 1000;">
  <div class="inner">
    <div class="container">
      <ul class="nav navbar-nav main-menu">
        <li><%= link_to("Hot", root_path, class: "link") %></li>
        <li><%= link_to("Follow", root_path, class: "link") %></li>
        <li><%= link_to("History", root_path, class: "link") %></li>
        <li><%= link_to("Category", categories_path, class: "link") %></li>
      </ul>
    </div>
  </div>
</nav> 